@charset "UTF-8";

body {
  font-size: 100%;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  width: 20%;
  font-family: Helvetica, sans-serif;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.sidebar-avatar {
  position: relative;
  width: 120px;
  height: 120px;
  display: inline-block;
  margin: auto;
  margin-top: 40%;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

.profile-photo {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.sidebar-name {
  font-family: 'Poiret One', sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sidebar-name a {
  text-decoration: none;
  color: #111F33;
}

.sidebar-social {
  margin: auto;
  margin-bottom: 50px;
}

.sidebar-social a {
  text-decoration: none;
  font-size: 1.2em;
  color: #969696;
}

.sidebar-social a:hover {
  color: #32AAFA;
}

.sidebar-twitter-button {
  position: relative;
  margin-top: 100px;
}
.sidebar-nav {
 margin-left: auto; 

}

.sidebar-nav a {
  padding: 3px 0;
  font-family: Helvetica, sans-serif;
  color: #111F33;
  font-size: 1.3em;
  display: block;
  text-decoration: none;
}

.sidebar-nav a:hover {
  color: #32AAFA;
}

.sidebar-nav ul {
  margin: 0;
  padding: 0;
}

.sidebar-nav ul li {
  list-style: none;
  margin-bottom: 7px;
}

.content {
  width: 70%;
  margin-left: 25%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.content .share {
  margin-top: 40px;
  margin-bottom: 10%;
  padding-top: 30px;
  width: 100%;
  text-align: right;
  border-top: 1px solid #969696; 

}
.content h1 {
  color: #111F33;
  font-family: "Poiret One", sans-serif;
  font-weight: 900; 
  font-size: 2.5em;
  margin: 18px 0 5px 0; 
}
.content h1 a {
  color: #111F33;
  text-decoration: none; 
}
.content h2 {
  color: #111F33;
  font-family: Helvetica, sans-serif;
  font-weight: 500; 
  font-size: 2em;
  margin-bottom: 15px; 
}
.content h2 a {
  color: #111F33;
  text-decoration: none; 
}
.content h3 {
  color: #111F33;  
  font-family: Helvetica, sans-serif;
  font-weight: 500; 
  font-size: 1.5em;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.content h3 a {
  color: #111F33;  
  text-decoration: none; 
}
.content p {
  color: #111F33;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.7em;
}

.content p a {
  color: #32AAFA;
  text-decoration: none; 
}
.content p a:hover {
  color: #008BE5;
}
.content p code {
  font-size: 0.9em;
  background-color: #eeeeee;
  border: 1px solid #777777;
  border-radius: 3px;
  padding: 2px 3px;
}

.content pre {
  padding: 10px;

}
.content img {
  padding: 3px;
  //border: 1px solid #eeeeee;
  max-width: 100%; 
}
.content li {
  margin-bottom: 10px;
  line-height: 1.4em;
  color: #111F33;
}
.content blockquote {
  padding: .25em 1em;
  margin-left: 0px;
  border-left: 7px solid #32AAFA;
}
.content blockquote p {
  margin-bottom: 0px;
  color: #111F33;
  font-style: italic;
  font-size: 0.9em;
}
.content blockquote cite:before {
  content: '— '; }
.content blockquote cite {
  display: block;
  margin-top: .5em;
  text-align: right;
  color: #111;
  font-style: normal; }
.content .byline {
  margin-bottom: 40px;
  padding-left: 0px;
  font-size: 0.9em;
  font-weight: 600;
  color: #C4C4C4;
  font-family: "Poiret One", sans-serif;
}
.content .listing {
  padding: 0;
  font-family: Helvetica, sans-serif;
}
.content .listing ul {
  margin: 0;
  padding: 0; 
}
.content .listing li {
  font-size: 1.3em;
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  color: #111F33;
  font-weight: 550;
}

.content .listing .date {
  font-size: 0.6em;
  color: #C4C4C4;
  font-family: Helvetica, sans-serif;

}
.content .listing .project-description {
  font-size: 0.8em;
  color: #111F33;
  font-family: Helvetica, sans-serif;
  weight: 400;
}
.content .listing a {
  text-decoration: none;
  color: #111F33;
}
.content .listing a:hover {
  color: #32AAFA;
}

.content #galleria { 
  width: 100%;
}
@media screen and (max-width: 900px) and (min-width: 780px) {
  .sidebar .sidebar-avatar {
    width: 110px;
    height: 110px;
    -moz-border-radius: 55px;
    -webkit-border-radius: 55px;
    border-radius: 55px;
  }
  .sidebar .sidebar-name {
    letter-spacing: 0.5px;
    font-size: 1.75em;
  }
  .sidebar .sidebar-nav a {
    padding: 2px 0;
    font-size: 1.1em;
  }

}

@media screen and (max-width: 780px) and (min-width: 670px) {
  .sidebar .sidebar-avatar {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  .sidebar .sidebar-name {
    letter-spacing: 0.5px;
    font-size: 1.5em;
  }
  .sidebar .sidebar-nav a {
    padding: 2px 0;
    font-size: 1em;
  }

}
@media screen and (max-width: 670px) and (min-width: 200px) {
  .sidebar {
    position: fixed;
    height: 8%;
    width: 100%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  }
  .sidebar .sidebar-avatar {
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin: 5px 5px 0 20px;
    position: fixed;
    display: block;
  }
  .sidebar .sidebar-name {
    display: none;
  }
  
  .content {
    width: 100%;
    margin: 8% 0 0 0;
    padding: 0 5px 0 8px; 
    position: fixed;
  }
  .sidebar-social {
    margin-bottom: 5px;
    position: fixed;
    margin: 60px 5px 0 18px;
  }

  .sidebar-social a {
    font-size: 0.9em;
  }

  .sidebar-twitter-button {
    display: none;
  }

  .sidebar-nav {
    position: fixed;
    margin: 17px 0 0 25%;
  }

  .sidebar-nav a {
    padding: 10px;
    font-size: 1em;
  }
  .sidebar-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav ul li {
    display: inline-block;
    list-style-type: none;
  }


}
