@charset "UTF-8";

body {
  font-size: 100%;
}

#blog-posts {
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Source Sans Pro', helvetica;
  margin: 0;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  width: 12%;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  background: white;
  z-index: 2;
}

.sidebar-avatar {
  position: relative;
  width: 76px;
  height: 76px;
  display: inline-block;
  margin: auto;
  margin-top: 100%;
  -moz-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
}

.profile-photo {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.sidebar-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sidebar-name a {
  text-decoration: none;
  color: #111F33;
}

.sidebar-social {
  margin: auto;
  margin-bottom: 50px;
}

.sidebar-social a {
  text-decoration: none;
  font-size: 1.5em;
  color: #969696;
}

.sidebar-social a:hover {
  color: #D93722;
}

.sidebar-twitter-button {
  position: relative;
  margin-top: 100px;
}
.sidebar-nav {
 margin-left: auto; 

}

.sidebar-nav a {
  padding: 3px 0;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: #111F33;
  font-size: 1.1em;
  display: block;
  text-decoration: none;
}

.sidebar-nav a:hover {
  color: #D93722;
}

.sidebar-nav ul {
  margin: 0;
  padding: 0;
}

.sidebar-nav ul li {
  list-style: none;
  margin-bottom: 7px;
}

.content {
  max-width: 650px;
  width: 50%;
  margin-left: 30%;
  margin-bottom: 5%;
  margin-top: 5%;
  z-index: 1;
}

.content .share {
  margin-top: 40px;
  margin-bottom: 10%;
  padding-top: 30px;
  width: 100%;
  text-align: right;
  border-top: 1px solid #969696; 

}
.content h1 {
  color: #111F33;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900; 
  font-size: 2.5em;
  margin: 18px 0 5px 0; 
}
.content h1 a {
  color: #111F33;
  text-decoration: none; 
}
.content h2 {
  color: #111F33;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 700; 
  font-size: 1.85em;
  margin-bottom: 15px; 
}
.content h2 a {
  color: #111F33;
  text-decoration: none; 
}
.content h3 {
  color: #111F33;  
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 600; 
  font-size: 1.5em;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.content h3 a {
  color: #111F33;  
  text-decoration: none; 
}
.content p {
  color: #444;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 0.95em;
  line-height: 1.7em;
}

.content *::selection {
  background: rgba(107, 184, 195, 0.74) !important;
}
.content *::-moz-selection {
  background: rgba(107, 184, 195, 0.74) !important;
}

.content p a {
  color: #D93722;
  text-decoration: none; 
}
.content p a:hover {
  color: #8D1A0B;
}

.content p code {
  font-size: 0.9em;
  background-color: #eeeeee;
  border: 1px solid #777777;
  border-radius: 3px;
  padding: 2px 3px;
}

.content pre {
  padding: 10px;

}
.content img {
  padding: 3px;
  //border: 1px solid #eeeeee;
  max-width: 100%; 
}
.content li {
  margin-bottom: 10px;
  color: #111F33;
}
.content blockquote {
  padding: .25em 1em;
  margin-left: 0px;
  border-left: 7px solid #D93722;
}
.content blockquote p {
  margin-bottom: 0px;
  color: #111F33;
  font-style: italic;
  font-size: 0.9em;
}
.content blockquote cite:before {
  content: '— '; }
.content blockquote cite {
  display: block;
  margin-top: .5em;
  text-align: right;
  color: #111;
  font-style: normal; }
.content .byline {
  margin-bottom: 40px;
  padding-left: 0px;
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
  color: #C4C4C4;
  font-family: 'Source Sans Pro', sans-serif;
}
.content .listing {
  padding: 0;
  margin: 20px 0 0 0;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}
.content .listing ul {
  margin: 0;
  padding: 0; 
}
.content .listing li {
  font-size: 1em;
  list-style: none;
  padding: 2px 0 2px 0;
  margin: 0;
  color: #111F33;
  font-weight: 550;
}
#related {
  margin-top: 50px;
}
#related .listing li {
  font-size: 0.9em;
  padding: 0;
}
#related ul {
  margin: 5px 0 0 0;
}
#related .date {
  font-size: 0.9em;
}
#related-posts {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Source Sans Pro', Helvetica;
  font-size: 1.1em;
}

.content .listing .date {
  font-size: 0.9em;
  color: #C4C4C4;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;

}
.content .listing .project-description {
  font-size: 0.8em;
  color: #111F33;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  weight: 400;
}
.content .listing a {
  text-decoration: none;
  color: #111F33;
}
.content .listing a:hover {
  color: #D93722;
}

.content #galleria { 
  width: 100%;
}
@media screen and (max-width: 1200px) and (min-width: 1100px) {
  .sidebar .sidebar-avatar {
    width: 76px;
    height: 76px;
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
    border-radius: 38px;
  }
  .sidebar .sidebar-name {
    letter-spacing: 0.5px;
    font-size: 1.5em;
  }
  .sidebar .sidebar-nav a {
    padding: 2px 0;
    font-size: 1em;
  }

}

@media screen and (max-width: 1100px) and (min-width: 950px) {
  .sidebar .sidebar-avatar {
    width: 70px;
    height: 70px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
  }
  .sidebar .sidebar-name {
    letter-spacing: 0.5px;
    font-size: 1.4em;
  }
  .sidebar .sidebar-nav a {
    padding: 2px 0;
    font-size: 1em;
  }

}
@media screen and (max-width: 950px) and (min-width: 600px) {
  .sidebar {
    position: fixed;
    height: 80px;
    width: 100%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    background: rgba(255,255,255,0.95);
    z-index: 1;
  }
  .sidebar .sidebar-avatar {
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin: 10px 5px 0 5%;
    position: fixed;
    display: block;
    z-index: 2;
  }
  .sidebar .sidebar-name {
    display: none;
  }
  
  .content {
    width: 90%;
    margin-top: 90px;
    margin-left: 5%;
    position: relative;
    z-index: 0;
  }
  .sidebar-social {
    position: fixed;
    margin: 60px 5px 0 5%;
    z-index: 2;    
  }

  .sidebar-social a {
    font-size: 0.9em;
  }

  .sidebar-twitter-button {
    display: none;
  }

  .sidebar-nav {
    position: fixed;
    margin: 20px 0 0 27%;
    z-index: 2;
  }

  .sidebar-nav a {
    padding: 5px;
    font-size: 1.3em;
  }
  .sidebar-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 600px) and (min-width: 200px) {
  .sidebar {
    position: fixed;
    height: 80px;
    width: 100%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    background: rgba(255,255,255,0.95);
    z-index: 1;
  }
  .sidebar .sidebar-avatar {
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin: 5px 5px 0 20px;
    position: fixed;
    display: block;
    z-index: 2;
  }
  .sidebar .sidebar-name {
    display: none;
  }
  
  .content {
    width: 92%;
    margin-top: 90px;
    margin-left: 8px;
    position: relative;
    z-index: 0;
  }
  .sidebar-social {
    margin-bottom: 5px;
    position: fixed;
    margin: 60px 5px 0 18px;
    z-index: 2;    
  }

  .sidebar-social a {
    font-size: 0.9em;
  }

  .sidebar-twitter-button {
    display: none;
  }

  .sidebar-nav {
    position: fixed;
    margin: 20px 0 0 24%;
    z-index: 2;
  }

  .sidebar-nav a {
    padding: 5px;
    font-size: 1em;
  }
  .sidebar-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav ul li {
    display: inline-block;
    list-style-type: none;
  }


}
