---
layout: default
title: Bookshelf
description: Bookshelf
---

<p>Below is a log of books that I've read in the last couple of years. *some of them contain my notes and highlights.</p>
<h4>2018</h4>
<ul>
  {% assign items = site.posts | sort: 'book_rating' %}
  {% for post in items reversed %}
    {% if post.category contains 'book' and post.book_read_year == 2018 %}
      {% include_relative book.html %}
    {% endif %}
  {% endfor %}
</ul>
<h4>2017</h4>
<ul>
  {% assign items = site.posts | sort: 'book_rating' %}
  {% for post in items reversed %}
    {% if post.category contains 'book' and post.book_read_year == 2017 %}
      {% include_relative book.html %}
    {% endif %}
  {% endfor %}
</ul>
<h4>2016</h4>
<ul>
  {% assign items = site.posts | sort: 'book_rating' %}
  {% for post in items reversed %}
    {% if post.category contains 'book' and post.book_read_year == 2016 %}
      {% include_relative book.html %}
    {% endif %}
  {% endfor %}
</ul>
<h4>2015</h4>
<ul>
  {% assign items = site.posts | sort: 'book_rating' %}
  {% for post in items reversed %}
    {% if post.category contains 'book' and post.book_read_year == 2015 %}
      {% include_relative book.html %}
    {% endif %}
  {% endfor %}
</ul>
<h4>2014</h4>
<ul>
  {% assign items = site.posts | sort: 'book_rating' %}
  {% for post in items reversed %}
    {% if post.category contains 'book' and post.book_read_year == 2014 %}
      {% include_relative book.html %}
    {% endif %}
  {% endfor %}
</ul>
<h4>2013</h4>
<ul>
  {% assign items = site.posts | sort: 'book_rating' %}
  {% for post in items reversed %}
    {% if post.category contains 'book' and post.book_read_year == 2013 %}
      {% include_relative book.html %}
    {% endif %}
  {% endfor %}
</ul>
