/* main.scss */
/* responsive */
html, body {
  height: 100%; }

.header {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-align: center;
  height: 10%;
  padding-top: 10%; }
  @media only screen and (max-width: 600px) {
    .header {
      margin: auto; } }
  .header .name {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1.777em;
    font-weight: bold;
    text-decoration: none;
    color: #111f33; }
  .header .nav {
    margin-left: auto; }
    .header .nav a {
      color: #111f33;
      font-size: 1.1em;
      display: block;
      text-decoration: none;
      font-weight: normal; }
      .header .nav a:hover {
        color: #d90e00; }
    .header .nav ul {
      margin: 0;
      padding: 0; }
      .header .nav ul li {
        list-style: none;
        margin-bottom: 10px; }

.footer {
  height: 15%; }
  .footer .hz-line {
    background: #c4c4c4;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#cccccc), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #cccccc, rgba(255, 255, 255, 0));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #cccccc, rgba(255, 255, 255, 0));
    height: 1px;
    margin: 30px 0; }
  .footer .social {
    margin: auto;
    width: 115px; }
    .footer .social a {
      text-decoration: none;
      font-size: 1.5em;
      color: #c4c4c4;
      margin: 0 5px; }
      .footer .social a:hover {
        color: #111f33; }

.container {
  width: 45%;
  min-width: 650px;
  margin: auto; }
  @media only screen and (max-width: 1000px) {
    .container {
      width: 70%;
      min-width: 100px; } }
  @media only screen and (max-width: 600px) {
    .container {
      width: 90%;
      min-width: 100px; } }

.content {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin: auto; }
  .content .blog-posts {
    width: 45%;
    min-width: 500px;
    margin: auto; }
    @media only screen and (max-width: 600px) {
      .content .blog-posts {
        width: 98%;
        min-width: 250px; } }
  .content .share {
    margin-top: 40px;
    margin-bottom: 10%;
    padding-top: 30px;
    text-align: right;
    border-top: 1px solid #c4c4c4; }
  .content .related-posts {
    margin-top: 50px; }
    .content .related-posts .listing li {
      font-size: 0.9em;
      padding: 0; }
    .content .related-posts ul {
      margin: 5px 0 0 0; }
    .content .related-posts .date {
      font-size: 0.9em; }
    .content .related-posts .related-posts-title {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 1.333em;
      color: #111f33; }
  .content h1 {
    color: #111f33;
    font-weight: 900;
    font-size: 2.369em;
    margin: 18px 0 5px 0; }
    .content h1 a {
      color: #111f33;
      text-decoration: none; }
  .content h2 {
    color: #111f33;
    font-weight: 700;
    font-size: 1.777em;
    margin-bottom: 15px; }
    .content h2 a {
      color: #111f33;
      text-decoration: none; }
  .content h3 {
    color: #111f33;
    font-weight: 600;
    font-size: 1.333em;
    padding-bottom: 5px;
    margin-bottom: 5px; }
    .content h3 a {
      color: #111f33;
      text-decoration: none; }
  .content p {
    color: #505759;
    font-size: 1em;
    line-height: 1.7em; }
    .content p a {
      color: #d90e00;
      text-decoration: none; }
      .content p a:hover {
        color: #ff1000; }
    .content p code {
      font-size: 0.9em;
      background-color: #eeeeee;
      border: 1px solid #777777;
      border-radius: 3px;
      padding: 2px 3px; }
  .content pre {
    padding: 15px 0;
    overflow: scroll; }
  .content img {
    padding: 3px;
    margin-left: -15%;
    width: 130%; }
    @media only screen and (max-width: 600px) {
      .content img {
        margin-left: -7%;
        width: 113%; } }
  .content li {
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.7em;
    color: #505759; }
  .content blockquote {
    padding: 0.25em 1em;
    margin-left: 0px;
    border-left: 7px solid #d90e00; }
    .content blockquote p {
      margin-bottom: 0px;
      color: #505759;
      font-style: italic;
      font-size: 0.9em; }
    .content blockquote cite {
      display: block;
      margin-top: .5em;
      text-align: right;
      color: #111;
      font-style: normal; }
      .content blockquote cite:before {
        content: '— '; }
  .content .byline {
    margin-bottom: 40px;
    padding-left: 0px;
    font-size: 0.9em;
    font-weight: 300;
    font-style: italic;
    color: #c4c4c4; }
  .content .listing {
    padding: 0;
    margin: 20px 0 0 0; }
    .content .listing ul {
      margin: 0;
      padding: 0; }
    .content .listing li {
      font-size: 1em;
      list-style: none;
      padding: 3px 0;
      margin: 0;
      color: #505759;
      line-height: 1.3em; }
    .content .listing .date {
      font-size: 0.9em;
      color: #c4c4c4;
      float: right; }
    .content .listing .project-description {
      font-size: 0.9em;
      color: #505759;
      weight: 400; }
    .content .listing a {
      text-decoration: none;
      color: #505759; }
      .content .listing a:hover {
        color: #d90e00; }
