/* main.scss */

$sidebar-background: white;
$text-color: #505759;
$hover-color: #FF1000;
$link-color: #D90E00;
$heading-color: #111F33;
$byline-color: #C4C4C4;
$font-family: 'Source Sans Pro', Helvetica, sans-serif;

/* responsive */
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 600px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (max-width: 1000px) { @content; }
  }
}

.sidebar { 
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  width: 30%;
  font-family: $font-family;
  text-align: center;
  background: $sidebar-background;
  z-index: 2;
  
  @include respond-to(medium-screens) {
    height: 320px;
    width: 100%;
    z-index: 1;
    position: absolute;
  }

  .sidebar-background {
    background-image: url(/images/header.jpeg);
    background-color: black;
    position: relative;
    height: 72%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 55%;
    @include respond-to(medium-screens) {
      height: 100%;
      background-size: 100% auto;
      background-position-y: 85%;
    }

    @include respond-to(handhelds) {
      background-size: 170% auto;

    }
  }

  .sidebar-profile {
    position: absolute;
    bottom: -215px;
    left: 15%;
    right: 15%;
    @include respond-to(medium-screens) {
      width: 60%;
      left: 20%;
      right: 20%;
      bottom: -200px;
    }
    @include respond-to(handhelds) {
      width: 85%;
      left: 8%;
      right: 8%;
    }
  }

  .sidebar-bio {
    font-size: 0.9em;
    margin-bottom: 15px;
  }

  .sidebar-avatar {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: auto;
      -webkit-border-radius: 100%;
         -moz-border-radius: 100%;
              border-radius: 100%;
    border: 2px solid white;
    .profile-photo {
      height: 100%;
      width: 100%;
      -webkit-border-radius: 100%;
         -moz-border-radius: 100%;
              border-radius: 100%;
    }
  }
  .sidebar-name {
    font-family: $font-family;
    font-size: 1.1em;
    font-weight: bold;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    a {
      text-decoration: none;
      color: $heading-color;
    }
  }
  .sidebar-social {
    margin: auto;
    a {
      text-decoration: none;
      font-size: 1.5em;
      color: $byline-color;
      &:hover {
        color: $heading-color;
      }
    }
  }
  
  .sidebar-nav {
    margin-left: auto;
    a {
      color: $heading-color;
      font-size: 1.1em;
      display: block;
      text-decoration: none;
      font-weight: normal;
      &:hover {
        color: $link-color;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 10px;
      }
    }
  } 
}

.content {
  font-family: $font-family;
  width: 70%;
  float: right;
  z-index: 1;
  @include respond-to(medium-screens) {
    width: 100%;
    margin-top: 520px;
    position: relative;
    z-index: 0;
  }
  .post-title {
    width: 60%;
    margin-top: 100px;
    margin-left: 70px;
    @include respond-to(medium-screens) {
      width: 70%;
    }
    @include respond-to(handhelds) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

  }

  .blog-posts {
    padding-top: 10%;
    padding-left: 15%;
    @include respond-to(medium-screens) {
      padding: 5% 10%;
    }

  }
  .share {
    margin-top: 40px;
    margin-bottom: 10%;
    margin-left: 70px;
    padding-top: 30px;
    width: 60%;
    text-align: right;
    border-top: 1px solid $byline-color;
    @include respond-to(medium-screens) {
      width: 70%;
    }
    @include respond-to(handhelds) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .post-content {
    width: 60%;
    margin-left: 70px;
    @include respond-to(medium-screens) {
      width: 70%;
    }
    @include respond-to(handhelds) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h1 {
    color: $heading-color;
    font-weight: 900; 
    font-size: 2.369em;
    margin: 18px 0 5px 0; 
    a {
      color: $heading-color;
      text-decoration: none; 
    }
  }
  h2 {
    color: $heading-color;
    font-weight: 700; 
    font-size: 1.777em;
    margin-bottom: 15px; 
    a {
      color: $heading-color;
      text-decoration: none; 
    }
  }
  h3 {
    color: $heading-color;  
    font-weight: 600; 
    font-size: 1.333em;
    padding-bottom: 5px;
    margin-bottom: 5px;
    a {
      color: $heading-color;  
      text-decoration: none; 
    }
  }
  p {
    color: $text-color;
    font-size: 1em;
    line-height: 1.7em;
    a {
      color: $link-color;
      text-decoration: none; 
      &:hover {
        color: $hover-color;
      }
    }
    code {
      font-size: 0.9em;
      background-color: #eeeeee;
      border: 1px solid #777777;
      border-radius: 3px;
      padding: 2px 3px;
    }
  }
  pre {
    padding: 10px;

  }
  img {
    padding: 3px;
    max-width: 150%; 
    margin-left: -70px;
    @include respond-to(medium-screens) {
      margin-left: -85px;      
    }
  }
  li {
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.7em;
    color: $text-color;
  }
  blockquote {
    padding: .25em 1em;
    margin-left: 0px;
    border-left: 7px solid $link-color;
    p {
      margin-bottom: 0px;
      color: $text-color;
      font-style: italic;
      font-size: 0.9em;
    }
    cite {
      display: block;
      margin-top: .5em;
      text-align: right;
      color: #111;
      font-style: normal;
      &:before {
        content: '— '; 
      }
    }
  }
  .byline {
    margin-bottom: 40px;
    padding-left: 0px;
    font-size: 0.9em;
    font-weight: 300;
    font-style: italic;
    color: $byline-color;
  }
  .listing {
    padding: 0;
    margin: 20px 0 0 0;
    ul {
      margin: 0;
      padding: 0; 
    }
    li {
      font-size: 1em;
      list-style: none;
      padding: 2px 0 2px 0;
      margin: 0;
      color: $text-color;
      font-weight: 550;
      line-height: 1.3em;
    }
    .date {
      font-size: 0.9em;
      color: $byline-color;
    }
    .project-description {
      font-size: 0.9em;
      color: $text-color;
      weight: 400;
    }
    a {
      text-decoration: none;
      color: $text-color;
      &:hover {
        color: $link-color;
      }
    }
  }
  #related {
    margin-top: 50px;
    width: 60%;
    margin-left: 70px;
    .listing li {
      font-size: 0.9em;
      padding: 0;
    }
    ul {
      margin: 5px 0 0 0;
    }
    .date {
      font-size: 0.9em;
    }
    @include respond-to(medium-screens) {
      width: 70%;
    }
    @include respond-to(handhelds) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #related-posts {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.333em;
    color: $heading-color;
  }
  #galleria { 
    width: 100%;
  }
  #blog-posts {
    font-size: 1.777em;
    font-weight: bold;
    margin: 0;
    color: $heading-color;
  }
  
}
