/* post.scss */

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 600px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (max-width: 1000px) { @content; }
  }
}

.sidebar {
  .sidebar-background {
    background: none !important;

    @include respond-to(medium-screens) {
      border-bottom: 1px solid #eee;
    }
  }
  .sidebar-profile {
    @include respond-to(medium-screens) {
      top: 35px;
      bottom: 0;
    }
  }
}

.content {
  @include respond-to(medium-screens) {
    margin-top: 315px;
  }
}
