---
layout: default
title: Blog
description: "Blog"
---

<div class='container posts'>
  <div class='category'>
    <h1>Blog</h1>
    {% for post in site.posts %}
      {% if post.category contains 'blog' %}
        <div class='post'>
          <h3 class='title'><a href='{{ post.url }}'>{{ post.title }}</a></h3>
          <a href='{{ post.url }}'>
            <div class='entry'>
              {{ post.content | strip_html | truncatewords: 50 }}
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class='category'>
    <h1>Book Notes</h1>
    {% for post in site.posts %}
      {% if post.category contains 'book' %}
        <div class='post'>
          <h3 class='title'><a href='{{ post.url }}'>{{ post.title }}</a></h3>
          <a href='{{ post.url }}'>
            <div class='entry'>
              {{ post.content | strip_html | truncatewords: 50 }}
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>
