---
layout: default
title: Blog
description: "Blog"
---

<div class='container posts'>
  <div class='division'>
    <h3>Blog Posts</h3>
    <ul>
    {% for post in site.posts %}
      {% if post.category contains 'blog' %}
        <li>
          <a href='{{ post.url }}'>{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div class='division'>
    <h3>Book Notes</h3>
    <ul>
    {% for post in site.posts %}
      {% if post.category contains 'book' %}
        <li>
          <a href='{{ post.url }}'>{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div class='division'>
    <h3>Podcast Notes</h3>
    <ul>
    {% for post in site.posts %}
      {% if post.category contains 'podcast' %}
        <li>
          <a href='{{ post.url }}'>{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

</div>
