<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <meta name="author" content="Maksim Stepanenko">
    <meta name="description" content="Maksim's blog.">
    <link href="http://feeds.feedburner.com/MaksimStepanenko" rel="alternate" title="Maksim Stepanenko" type="application/atom+xml" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
    <link href="/webfonts/ss-social.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,200italic,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href="/js/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript">
      onload="prettyPrint()"
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36534133-1']);
      _gaq.push(['_setDomainName', 'maksims.me']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    </head>
  <body onload="prettyPrint()">
    <header class='header'>
      <a class='name' href='/'>@maksim_s</a>
    </header>
    <article class='content'>
      {{ content }}
    </article>
    <footer class='footer'>
      <div class='container'>
        <div class='hz-line'></div>
        <div class='social'>
          <a href="https://twitter.com/maksim_s"
             target="_blank">
             <i class="ss-icon ss-social-circle">&#xF611;</i>
          </a>
          <a href="https://github.com/maksim-s"
             target="_blank">
            <i class="ss-icon ss-social-circle">&#xF671;</i>
          </a>
          <a href="http://feeds.feedburner.com/MaksimStepanenko"
             target="_blank">
            <i class="ss-icon ss-social-circle">&#xE310;</i>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
